* {
    box-sizing: border-box;
}

.container {
    border: 4px solid lightgray;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.box-large {
    border: 4px solid lightgray;
    width: 100px;
    height: 100px;
}

.box-wrapper {
    display: flex;
    align-items: center;
}

.box-small {
    border: 4px solid lightgray;
    height: 50px;
    width: 50px;
    margin-left: 24px;
}